@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800');
body {
  background: url("../images/headImg.jpg") no-repeat center center fixed;
  height: 100vh;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 500px;
          perspective: 500px;
  
  color: #fff ;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 8vw;
  /*text-transform: uppercase;*/
  text-shadow: 0 0 8px #000;   /*rgba(255, 255, 255, 0.6)*/
  
}

a {
color:#fff ;
}

#tagline {

  font-weight: 800;
  font-size: 4vw; 
  text-align: center;}
 
.layer {
    background-color: rgba(248, 247, 216, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}    
span {
  display: inline-block;
  cursor: pointer;
  padding: 0 .2em;
  position: relative;
  -webkit-transition: all .15s linear;
          transition: all .15s linear;
}
span.on {
  color: #fff;
  -webkit-transform: scale(2.2);
      -ms-transform: scale(2.2);
          transform: scale(2.2);
  text-shadow: 0 0 1px #ffffff;
}
span.side {
  -webkit-transform: scale(1.65);
      -ms-transform: scale(1.65);
          transform: scale(1.65);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.85);
}
span.side2 {
  -webkit-transform: scale(1.35);
      -ms-transform: scale(1.35);
          transform: scale(1.35);
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
}
